{
  "schedule": {
    "id": "{{item.id}},
    "name": "{{item.name}}",
    "description": "{{item.description}}",
    "timeZone":"{{item.time_zone}}",
    "users": {{ item.users|to_nice_json }},
    "escalation_policies": {{ item.escalation_policies|to_nice_json }},
    "Teams": {{ item.teams|to_nice_json }}
  }
}