{
  "team": {
    "id": "{{item.0.id}}",
    "members": [
{% for team in item.1.Teams %}
{% if item.0.name == team.name %}
        {
            "role": "{{team.default_role}}",
            "user": {
                "username": "{{item.1.username}}"
            }
        },
{% endif %}
{% endfor %}
    ]
    "name": "{{item.0.name}}"
  }
}
