{
  "user": {
    "id": "{{item.id}},
    "username": "{{item.email}}",
    "fullName": "{{item.name}}",
    "role": {
      "name":"{{item.role}}"
    },
    "timeZone":"{{item.time_zone}}",
    "Teams": {{ item.teams|to_nice_json }}
    "userContacts": [
{% for contact in item.contact_methods %}
{% if contact.type == "email_contact_method" %}
      {
        "to": "{{contact.address}}", 
        "id": "{{contact.id}}", 
        "contactMethod": "email", 
        "enabled": true
      }, 
{% elif contact.type == "phone_contact_method" %}
      {
        "to": "{{contact.country_code}}-{{contact.address}}", 
        "id": "{{contact.id}}", 
        "contactMethod": "voice", 
        "enabled": true
      }, 
{% elif contact.type == "sms_contact_method" %}
      {
        "to": "{{contact.country_code}}-{{contact.address}}", 
        "id": "{{contact.id}}", 
        "contactMethod": "sms", 
        "enabled": true
      },
{% endif %}
{% endfor %}
    ]  
  }
}