username	fullname	verified	email	sms	voice	device
{% for user in my_contacts.results %}{{user.item.user}}	{{user.item.name}}	{{user.item.verified}}	{% for contact in user.json.data %}{% if contact.method == 'email' %}{{contact.to}}; {% endif %}{% endfor %}	{% for contact in user.json.data %}{% if contact.method == 'sms' %}{{contact.to}}; {% endif %}{% endfor %}	{% for contact in user.json.data %}{% if contact.method == 'voice' %}{{contact.to}}; {% endif %}{% endfor %}	{% for contact in user.json.data %}{% if contact.method == 'mobile' %}{{contact.to}}; {% endif %}{% endfor %}

{% endfor %}
